@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 45px;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.converter-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
}

.converter-container input {
  text-transform: uppercase;
  height: 45px;
  width: 85%;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-bottom-width: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.converter-container button {
  height: 45px;
  width: 20%;
  font-size: 16px;
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 650;
}

.converter-container input:focus {
  border-color: #4e4376;
}

.converter-container button:hover {
  background: linear-gradient(to left, #4e4376, #2b5876);
}

div#result {
  display: inline-block;
  font-size: 30px;
  font-weight: 650;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #4e4376;
}

.output span {
  font-size: 20px;
  font-weight: 550;
}
